extends layout

block content
  div.row.real
    div.col-xs-12
  div.row       
    a(href='/').titlePage
        h1 ╲╱℣℣.ⱮⱻȡĬª╲╱
    h3.titlePage
      | _occupied 
      del  and
      |  
      |  (a)void 
    #frame
      #border.bg-faded
        a(href='globalTheme')
          img.img_home(src='images/IMG_3068.JPG', alt='Drawing')
