div.row.ctrlh
  div.navbar.navbar-light.bg-faded.navbar-static-top
    a.masthead-brand(href="/")" ℣ ℣ M E D I A  
    | | |  
    a(href="/_CreaTe") Creative Technology

div.row.submenu
  div.col-md-12

    a#toggleContent(href="" ) [_] 
    | / 
    a#removeFrames(href="") x 
    | /
    i.fa.fa-cog.fa-spin.fa-fw
    | / 
    a(href="/p/readme") readme 
    | / 
    //- a(href='/_Create/CreativeExplorations') ºCreative Exploration 
    | ºCreative Exploration 
    | / 
    //- a(href='/_Create/CreativeApplications' )
    | #Creative Applications 
    | /
    | _  
    | / 
    | # 
    | /  
    | @ 
    | /  
    | ! 
    | / 
    i.fa.fa-eye(aria-hidden="true") 
  .col-md-4