extends layout


block content
  div.row.ctrlh
    div.navbar.navbar-static-top
      a.masthead-brand(href="/") ℣ ℣  
      |//  
      a(href="/_CreaTe") _CreaTe  
      | // 
      a(href="/globalTheme") AllThemes  
      | // 
      

   div.container
      div.row.real
        div.col-xs-12
            != body
